.carousel {
  position: relative;
  &__wrapper {
    gap: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 19px;

    @media screen and (max-width: 1440px) {
      position: relative;
      // left: -45px;
    }

    @media screen and (max-width: 390px) {
      padding-bottom: 5px;
    }
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    background-color: transparent;

    @media screen and (max-width: 1440px) {
      display: none;
    }

    @media screen and (max-width: 390px) {
      display: initial;
    }

    &-left {
      top: calc(50% - 20px);
      left: calc(50% - 26px/2 - 163.5px);
    }

    &-right {
      top: calc(50% - 20px);
      right: calc(50% - 174px);
    }
  }

  &__slide {
    position: relative;
  }

  &__img {
    @media screen and (max-width: 1440px) {
      max-width: 800px;
      max-height: 800px;
    }

    @media screen and (max-width: 390px) {
      // max-width: 360px;
      // max-height: 210px;
      border-radius: 16px;
    }
  }

  &__text {
    position: absolute;
    color: $main-white;
    @include font (("Red Hat Text", Arial, Helvetica, sans-serif), 500, 42px);
    @include adaptiveFontSize (32, 20);
    text-transform: uppercase;

    @media screen and (max-width: 1440px) {
      top: calc(50% - 42px/2 + 337px);
      left: calc(50% - 108px/2 - 331px);
    }

    @media screen and (max-width: 390px) {
      top: calc(50% - 26px/2 - 93.5px);
      left: calc(50% - 60px/2 - 135px);
      font-size: 1.2em;
    }
  }

  &__form {
    text-align: center;
    background-color: transparent;
    @media screen and (max-width: 1440px) {
      margin-bottom: 35px;
    }

    @media screen and (max-width: 390px) {
      position: absolute;
      top: calc(50% + 75px);
      left: calc(50% - 22px);
      margin-bottom: 0;
    }
  }

  &__bar {
    padding-left: 10px;

    @media screen and (max-width: 390px) {
      padding-left: 3px;
    }
  }

  &__radio-custom {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: $bg-radio;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (max-width: 390px) {
      width: 8px;
      height: 8px;
    }
  }

  &__radio-real:checked + .carousel__radio-custom {
    background-color: $main-orange;
  }
}
