.destinations {
  overflow: hidden;
  &__title {
    margin-bottom: 45px;

    @media screen and (max-width: 390px) {
      margin-bottom: 21px;
    }
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__icon {
    @extend %arrow-btn;
  }
}
