.steps {
  &__title {
    margin-bottom: 40px;

    @media screen and (max-width: 390px) {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }

  &__img {
    display: block;
    margin: 0 auto;
    padding: 24px;
    width: 100px;
    height: 100px;
    background-color: $main-orange;
    border-radius: 16px;

    @media screen and (max-width: 390px) {
      margin: 0;
      width: 70px;
      height: 70px;

      &_left {
        margin-right: 40px;
      }

      &_center {
        margin: 0 auto;
      }

      &_right {
        margin-left: 40px;
      }
    }
  }

  &__text {
    text-align: center;
    margin: 0;
    margin-top: 30px;
    color: $main-blue;
    @include font (("Aleo", "Times New Roman", Times, serif), 400, 24px);
    @include adaptiveFontSize (20, 10);

    @media screen and (max-width: 390px) {
      margin-top: 20px;
      @include font (("Aleo", "Times New Roman", Times, serif), 400, 12px);
      @include adaptiveFontSize (20, 10);

      &_left {
        text-align: left;
      }

      &_center {
        text-align: center;
      }

      &_right {
        text-align: right;
      }
    }
  }
}
