@font-face {
  font-family: "Aleo";
  src: url("../fonts/Aleo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Aleo";
  src: url("../fonts/Aleo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/RedHatText-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Magra";
  src: url("../fonts/Magra-Bold.ttf");
  font-weight: 600;
}
