$main-white: #ffffff;
$bg-white: rgba(255, 255, 255, 0.7);
$main-orange: #F2785C;
$bg-orange: rgba(242, 120, 92, 0.7);
$bg-radio: rgba(242, 120, 92, 0.5);
$bg-facebook: #1877F2;
$main-blue: #0D606F;
$shadow: rgba(0, 0, 0, 0.25);
$shadow-blue: rgba(13, 96, 111, 0.5);
$shadow-darkblue: rgba(13, 96, 111, 0.16);
$shadow-dark: rgba(13, 96, 111, 0.08);
$max-width: 1440;
$min-width: 390;
